<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Treino</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h2>Cadastro de Treino</h2>
        <form id="treinoForm">
            <input type="text" id="nome_exercicio" name="nome_exercicio" placeholder="Nome do Exercício" required>
            <input type="text" id="numero_series" name="numero_series" placeholder="Numero de Series" required>
            <input type="text" id="peso" name="peso" placeholder="Peso" required>
            <input type="text" id="tempo_descanso" name="tempo_descanso" placeholder="Tempo de Descanso(s)" required>
            <button type="submit">Cadastrar</button>
        </form>
        <button onclick="window.location.href='/home'">Voltar</button>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
